@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed&subset=cyrillic');@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i&subset=cyrillic');
$roboto: 'Roboto Condensed', sans-serif;
$myriad: 'Open Sans', sans-serif;
$marck: 'Marck Script', cursive;
$cormorant: 'Cormorant Garamond', cursive;