.ref {
    background-color: #dfe8ef;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    @include medium;
    @include rmin(768) {
      width: 100%;
    }
    @include rmin(1680) {
      padding: 30px;
    }
    // & + & {
    //   margin-top: 20px;
    //   @include rmin(768) {
    //     margin-top: 0;
    //   }
    // }
    &__sm{
        width: 100%;
        background-color: #dfe8ef;
        margin-bottom: 20px;
        padding: 20px;
        @include rmin(768) {
            width: 49%;
        }
        @include rmin(1680) {
            padding: 30px;
        }
        &:last-of-type{
            margin-bottom: auto;
        }
        .ref__row{
            flex-direction: row;
        }
    }
    &__row {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      word-break: break-word;
    //   & + & {
    //     margin-top: 30px;
    //   }
    }
    &__title {
      flex: 1 1;
      padding-right: 10px;
      margin-bottom: 20px;
      &_value {
        text-transform: uppercase;
        color: $dark-blue;
        font-size: 24px;
        @include rmin(1680) {
          font-size: 30px;
        }
      }
    }
    &__balance {
      flex: 1 1;
      min-width: 30%;
    }
    &__link{
        width: 100%;
        border: 2px solid $dark-blue;
        padding: 8px;
        margin-top: 5px;
        @include medium;
        font-size: 14px;
        background-color: transparent;
        -webkit-appearance: none;
        border-radius: 0;
        @include rmin(768) {
          font-size: 16px;
        }
        @include rmin(1680) {
          padding: 13px;
          font-size: 18px;
        }
    }
    &__users{
        margin: 20px 0 0;
        li{
            margin: 10px 0;
        }
    }
  }