.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bitcoin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-coins {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-history {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
