.tab-link {
  display: block;
  width: 100%;
  border-radius: 0;
  color: $text-color;
  text-align: left;
  background-color: lighten($tile_bg, 10);
}

.tabcontent {
  display: none;
  &.visible {
    display: block;
  }
}
