
// variables
  //colors
  $text-color: #ffffff; // main_text 252525
  $grey: #c9d8e4; // nav text
  $light-grey: #96b2c9; // timer circle
  $dark-blue: #0a164b; // title text
  $blue: #47a9d6; //hover link
  $bg-grey: #e6ebf0; // section_bg
  $bg-gradient: linear-gradient(45deg, #32454c, #26333c);
  $alert: #ff1100;
  $bg_main: #1d2731; //background color of body and main
  $tile_bg: rgba(51, 76, 93, 0.97); //Background of the tiles (info, calc, etc). Old - #dfe8ef

  // fonts
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');
  $default-fonts: 'Roboto', sans-serif;

//font-face
// @include font(GothaProBold, GothaProBol);
// @include font(HelveticaNeueCyr-Light, HelveticaNeueCyr-Light);
// @include font(HelveticaNeueCyr-Medium, HelveticaNeueCyr-Medium);
// @include font(HelveticaNeueCyr-Roman, HelveticaNeueCyr-Roman);

//usage
@mixin g-bold{
  font-family: $default-fonts;
  font-weight: 700;
}
@mixin light{
  font-family: $default-fonts;
  font-weight: 100;
}
@mixin medium{
  font-family: $default-fonts;
  font-weight: 300;
}
@mixin roman{
  font-family: $default-fonts;
}

// base styles
* {
  box-sizing: border-box;
}

body{
  @include light;
  font-size: 14px;
  // letter-spacing: 1px;
  color: $text-color;
  background-color: $bg_main;
  width: 100vw;
  @include rmin(1024){
    font-size: 18px;
    overflow-x: hidden;
  }
  @include rmin(1680){
    font-size: 24px;
  }
}

button{
  font-family: inherit;
}

a{
  text-decoration: none;
  &:hover{
    cursor: pointer;
    color: $blue;
  }
}

img,
video{
  max-width: 100%;
}

.main {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: $bg_main;
}

.container {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
}

.content {
  flex: 1 1;
  width: 320px;
  overflow-x: hidden;
  @include rmin(1024) {
    width: auto;
  }
}

.title {
  font-size: 30px;
  color: $text-color;
  // padding-left: 20px;
  @include medium;
  // margin-top: 60px;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  @include rmin(1024) {
    font-size: 18px;
  }
  span {
    font-size: 14px;
    color: $blue;
    @include rmin(1024) {
      font-size: 24px;
    }
  }
}
.qr {
  width: 177px;
  height: 177px;
}
.alert{
  color: $alert;
  margin: 20px 0;
}
select {
  display: none;
}
.copyToClip{
  cursor: pointer;
  padding-left: 10px;
  &:hover{
    color: $blue;
  }
}
.border_bot{
  border-bottom: 2px solid $text-color;
}
// Styles for tiles:
@mixin tile{
  background-color: $tile_bg;
  border-radius: 0px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}