html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:after {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -ms-transform-origin: center;
  transform-origin: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-bitcoin {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-coins {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-history {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}

@font-face {
  font-family: GothaProBold;
  src: url("fonts/GothaProBol.woff2") format("woff2"), url("fonts/GothaProBol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr-Light;
  src: url("fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr-Medium;
  src: url("fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr-Roman;
  src: url("fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeueCyr-Light", Arial, sans-serif;
  font-size: 14px;
  color: #252525;
  background-color: #fff;
  width: 100vw;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}

.main {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
}

.content {
  -ms-flex: 1 1;
  flex: 1 1;
  width: 320px;
  overflow-x: hidden;
}

.title {
  font-size: 30px;
  color: #0a164b;
  padding-left: 20px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}

.address {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5;
}

.address span {
  font-size: 14px;
  color: #47a9d6;
}

.qr {
  width: 177px;
  height: 177px;
}

.header {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

.header__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__login {
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  line-height: 40px;
  position: relative;
}

.form {
  max-width: 400px;
  width: 100%;
}

.form__field {
  width: 100%;
  position: relative;
}

.form__field + .form__field {
  margin-top: 30px;
}

.form__field input {
  width: 100%;
  border: 2px solid #0a164b;
  padding: 8px;
  margin-top: 5px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

.form__field label {
  color: #0a164b;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  font-size: 18px;
  z-index: 1;
  transition: transform .3s;
}

.form__btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form_horizontal {
  max-width: 100%;
  margin-bottom: 60px;
}

.form_horizontal .form__btn {
  margin-bottom: 0;
}

.select {
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  font-size: 14px;
}

.select:after {
  width: 14px;
  height: 14px;
  right: 10px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.select .list {
  background-color: #eef7fd;
}

.select .option:hover,
.select .option.focus,
.select .option.selected.focus {
  background-color: #96b2c9;
}

.btn {
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 0px 25px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #47a9d6;
  border-radius: 0;
  background-color: #47a9d6;
  color: #fff;
  box-shadow: none;
  width: 200px;
  text-align: center;
  position: relative;
  z-index: 3;
  transition: background-color .3s, color .3s, border-color .3s;
  height: 40px;
  line-height: 40px;
}

.btn:disabled {
  opacity: .3;
}

.btn_green {
  background-color: #7abc61;
  border-color: #7abc61;
  color: #252525;
}

.btn_green:hover {
  background-color: #98cb85;
  border-color: #98cb85;
}

.btn_red {
  background-color: #db5e5f;
  border-color: #db5e5f;
  color: #252525;
}

.btn_red:hover {
  background-color: #e48888;
  border-color: #e48888;
}

.sidebar {
  min-width: 100vw;
  background-color: #dfe8ef;
  padding: 30px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  -ms-flex: 0 0;
  flex: 0 0;
  transition: .5s;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100vh;
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.sidebar.is-opened {
  min-width: 100vw;
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.sidebar.is-opened .sidebar__logo img {
  display: none;
}

.sidebar.is-opened .sidebar__logo img.opened {
  display: block;
}

.sidebar.is-opened .nav__link .text {
  opacity: 1;
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.sidebar__item {
  width: 100%;
  overflow: hidden;
}

.sidebar__logo {
  max-width: 185px;
  margin: 10px auto 50px;
  height: 25px;
}

.sidebar__logo img {
  height: 25px;
}

.sidebar__logo img.opened {
  display: none;
}

.sidebar__btn {
  position: absolute;
  right: -45px;
  width: 40px;
  height: 40px;
  background-color: #96b2c9;
  border-radius: 50%;
  background-image: url(../img/menu_opened.svg);
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: .3s;
}

.sidebar__btn:hover {
  background-color: #b8cbda;
}

.sidebar__btn.is-active {
  background-image: url(../img/menu_closed.svg);
  right: 10px;
}

.nav {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
}

.nav__link {
  position: relative;
  color: #0a164b;
  white-space: nowrap;
}

.nav__link:hover a {
  color: #47a9d6;
}

.nav__link.active svg {
  fill: #47a9d6;
}

.nav__link .icon {
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
}

.nav__link a {
  display: inline-block;
  padding-left: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav__link a .text {
  display: inline-block;
  transition: .3s;
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}

.nav__link svg {
  fill: #0a164b;
}

.info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info {
  background-color: #dfe8ef;
  width: 100%;
  padding: 20px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
}

.info + .info {
  margin-top: 20px;
}

.info__row {
  display: -ms-flexbox;
  display: flex;
}

.info__row + .info__row {
  margin-top: 30px;
}

.info__title {
  -ms-flex: 1 1;
  flex: 1 1;
  padding-right: 10px;
}

.info__title_value {
  text-transform: uppercase;
  color: #0a164b;
  font-size: 24px;
}

.info__balance {
  -ms-flex: 0 0;
  flex: 0 0;
  min-width: 30%;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}

.table {
  margin-bottom: 50px;
}

.table thead {
  background-color: #96b2c9;
  color: #fff;
  text-align: left;
}

.table tr th:first-child {
  width: 40px;
}

.table tbody {
  border-top: 15px solid #fff;
  background-color: #dfe8ef;
  font-size: 16px;
}

.table td, .table th {
  padding: 20px;
}

.table_wallets tr td:last-child {
  width: 260px;
}

.table_wallets tr td:first-child,
.table_wallets tr th:first-child {
  width: 10px;
  min-width: 10px;
  padding: 0;
}

.table_wallets tr.active td:first-child {
  background-color: #7abc61;
}

.table_wallets tbody {
  background-color: #fff;
}

.table_wallets td, .table_wallets th {
  padding: 10px;
}

.table-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-btn .btn {
  height: 40px;
  line-height: 40px;
  width: 120px;
  padding: 0;
}

.table-btn .btn + .btn {
  margin-left: 20px;
}

.tab-link {
  display: block;
  text-align: left;
  background-color: transparent;
}

.tabcontent {
  display: none;
}

.tabcontent.visible {
  display: block;
}

.settings {
  margin-bottom: 50px;
}

.settings__tab {
  min-width: 180px;
  background-color: #dfe8ef;
}

.settings__link {
  padding: 15px 30px;
  font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #0a164b;
  position: relative;
}

.settings__link.active:before {
  content: '';
  width: 15px;
  height: 100%;
  background-color: #47a9d6;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.settings__tabcontent {
  padding-left: 3%;
  padding-top: 30px;
  -ms-flex: 1 1;
  flex: 1 1;
}

@media only screen and (min-width: 768px) {

  .form__field input {
    font-size: 16px;
  }

  .form_horizontal {
    display: -ms-flexbox;
    display: flex;
  }

  .form_horizontal .form__field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  .form_horizontal .form__field input {
    width: auto;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-top: 0;
  }

  .form_horizontal .form__field label {
    margin-right: 30px;
  }

  .form_horizontal .form__btn {
    margin-top: 0;
    margin-left: 30px;
  }

  .info {
    width: 30%;
  }

  .info + .info {
    margin-top: 0;
  }

  .table tbody {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
    overflow-x: hidden;
  }

  .content {
    width: auto;
  }

  .address {
    font-size: 18px;
  }

  .address span {
    font-size: 24px;
  }

  .header {
    padding-top: 15px;
  }

  .header__content {
    height: 70px;
  }

  .header__login {
    font-size: 18px;
  }

  .form__btn {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .select {
    font-size: 16px;
  }

  .btn:hover {
    background-color: #fff;
    color: #0a164b;
  }

  .sidebar {
    min-width: 65px;
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    position: -webkit-sticky;
    position: sticky;
  }

  .sidebar.is-opened {
    min-width: 280px;
  }

  .sidebar__logo {
    margin: 0 auto 50px;
  }

  .sidebar__btn {
    right: -60px;
  }

  .sidebar__btn.is-active {
    right: -20px;
  }

  .settings {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1680px) {

  body {
    font-size: 24px;
  }

  .header {
    padding-top: 20px;
  }

  .header__login {
    font-size: 24px;
  }

  .form {
    max-width: 560px;
  }

  .form__field + .form__field {
    margin-top: 40px;
  }

  .form__field input {
    padding: 13px;
    font-size: 18px;
  }

  .form_horizontal {
    max-width: 100%;
  }

  .select {
    font-size: 18px;
  }

  .btn {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  .sidebar.is-opened {
    min-width: 375px;
  }

  .sidebar__btn {
    right: -75px;
    width: 50px;
    height: 50px;
  }

  .sidebar__btn.is-active {
    right: -25px;
  }

  .nav {
    font-size: 16px;
  }

  .info {
    padding: 30px;
  }

  .info__title_value {
    font-size: 30px;
  }

  .table_wallets tr td:first-child,
  .table_wallets tr th:first-child {
    width: 15px;
    min-width: 15px;
  }

  .table_wallets td, .table_wallets th {
    padding: 15px;
  }

  .settings__tab {
    min-width: 220px;
  }

  .settings__link {
    padding: 25px 40px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=app.css.map */
